# Configuracion de Hop-Lab
# Copia este archivo a .env y personaliza los valores

# Usuario para acceder al sistema
USER_LAB=hoplab

# Password del usuario
PASS_LAB=hoplab123

# Password para conectar por VNC (max 8 caracteres)
VNC_PASS=kalilab
